.main-contain{
    display: inline-block;
    margin: 10px;
    float: left;
    width: 80%;
    text-align: center;
}
.img-contain{
    display: inline-block;
    width: 30%;
    margin: 5px;
}
.img-contain div img{
    width: 100%;
}
aside{
    display: inline-block;
    float: left; 
    width: 15%;
    margin-left: 15px;
}
header{
    text-align: center;
}
header img{
    width: 100%;
}
body{
    margin: 0px;
}
.img-contain div{
    text-align: center;
}
p{
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
    line-height: 25px;
    color: salmon;
}
span{
    font-family: fantasy;
    font-size: 20px;
}
label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: palevioletred;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    display: block;
}
.texto{
    background-color: tomato;
    margin-bottom: 10px;
}
aside div{
    margin-bottom: 60px;
}